@import "~bootstrap/scss/bootstrap";
.figure-card-list {
    margin: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#index-img {
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

#index-fullscreen-img {
    height: 100%;
    width: 100%;
}

.card {
    margin: 20px;
}

.arrow-down {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 5%;
}


/* Markup */

.container {
    height: 100vh;
    padding: 20px;
    text-align: center;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    p {
        margin: 0 0 20px;
    }
}


/* Arrow & Hover Animation */

#more-arrows {
    width: 75px;
    height: 65px;
    &:hover {
        polygon {
            fill: #fff;
            transition: all 0.2s ease-out;
            &.arrow-bottom {
                transform: translateY(-18px);
            }
            &.arrow-top {
                transform: translateY(18px);
            }
        }
    }
}

polygon {
    fill: #fff;
    transition: all 0.2s ease-out;
    &.arrow-middle {
        opacity: 0.75;
    }
    &.arrow-top {
        opacity: 0.5;
    }
}

.card {
    height: 35vh;
}

.card-img-top {
    height: 80%;
    border-bottom: 1px solid rgba(0, 14, 0, .125);
}

.icons {
    height: 15px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.figure_button {
    padding: 0;
}

.trick-page-top {
    width: 100%;
    text-align: center;
}

.trick-main-image {
    width: 60%;
    border: 1px solid rgba(0, 14, 0, .125)
}

.trick-page-mid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trick-page-mid iframe {
    width: 15%;
    height: 150px;
}

.trick-small-image {
    width: 15%;
    height: 150px;
}

.trick-description {
    text-align: center;
}

.trick-comments {
    margin: 5vh 15% 5vh 15%;
    text-align: center;
}

.figure-comment {
    border: 1px solid rgba(0, 14, 0, .125);
    background-color: aliceblue;
    margin-bottom: 5px;
}

.figure-comment-details {
    border-bottom: 1px solid rgba(0, 14, 0, .125);
    display: flex;
    height: 76px;
    padding: 3px;
}

.figure-comment-details p {
    padding-left: 10px;
    padding-right: 15px;
}

.up-arrow {
    height: 55px;
}

.profil-picture {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-figure-form {
    width: 80%;
}

.success {
    color: limegreen;
}