{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

{% block body %}
	<h1>Oups!</h1>

	<p>
		Cette page n'existe pas!
		<a href="{{ path('home') }}">Retourner à la page daccueil</a>.
	</p>
{% endblock %}
