<!doctype html>
<html lang="fr">
	<head></head>
	<body>
		<div class="body">
			<div class="container">
				<div class="header text-center">
					<a href="{{ url }}">lien</a>
				</div>
			</div>
		</div>
	</body>
</html></body></html>
