<!doctype html>
<html lang="fr">
	<head></head>
	<body>
		<div class="body">
			<div class="container">
				<h2>{{'mail.reinitialisation'|trans}}</h2>
				<div class="header text-center">
					<a href="{{ url }}">{{'mail.click'|trans}}</a>
				</div>
			</div>
		</div>
	</body>
</html></body></html>
