<!doctype html>
<html lang="fr">
	<head></head>
	<body>
		<div class="body">
			<div class="container">
				<div class="header text-center">
					<h1>{{ 'mail.thanks'|trans({"%user%": user.name}) }}</h1>
				</div>
				<div class="content">
					<p>{{ 'mail.link'|trans}}</p>
					<a href="{{ url }}">{{'mail.click'|trans}}</a>
				</div>
			</div>
		</div>
	</body>
</html>
